:root {
    --color-white: #fff;
    --color-dark: #222;
    --color-black: #000;
    --color-light: #f8fafc;

    --font-base: 'Poppings', sans-serif

    --h1: 2.027rem;
    --h2: 1.802rem;
    --h3: 1.266rem;

    --container-max: 1200px;
    --gap: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-base);
    font-size: 1rem;
    color: var(--color-dark);
    background-color: var(--color-white);
    line-height: 1.6;
}